.title{
  font-size: 55px;
  line-height: 1.1em;
  display: inline-block; 

}

.subtitle{
  font-size: 25px;
}

.author{
  font-size: 25px;
}


.affiliations{
  font-size: 23px;
}

.smaller{
  font-size:50px;
}

.xsmallgrey{
  font-size: 13px;
  color:grey;
}

.big{
  font-size: 30px;
}

.big1{
  font-size: 27px;
}

.bigspace{
  font-size: 30px;
  margin-top: 25px;
}

.bigspacecenter{
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align:center;
}

.bigrey{
  font-size: 27px;
  color:grey;
  text-align:center;
  margin-top:20px;
}

.bigrey2{
  font-size: 27px;
  color:grey;
  text-align:center;
  margin-top:40px;
}

.bigorange{
  font-size: 30px;
  color: #f7a41f;
}

.moy1{
  font-size: 28px;
  margin-top: 40px;
  font-weight: bold;
}


.moy{
  font-size: 25px;
}

.small{
  font-size: 20px;
}

.center{
  text-align:center;
}


.moycenter{
  font-size: 25px;
  text-align:center;
}
