.title{
  font-size: 50px;
  line-height: 1.1em;
  display: inline-block; 
  margin: 0;
}


.subtitle{
  font-size: 25px;
    margin: 0;
}

.author{
  font-size: 25px;
}


.affiliation{
  font-size: 23px;
}

.smaller{
  font-size:50px;
}

.big{
  font-size: 30px;
}

.bigspace{
  font-size: 30px;
  margin-top: 25px;
}


.bigrey{
  font-size: 27px;
  color:grey;
  text-align:center;
  margin-top:20px;
}

.bigorange{
  font-size: 30px;
  color: #f7a41f;
}

.moy1{
  font-size: 28px;
  margin-top: 40px;
  font-weight: bold;
}


.moy{
  font-size: 25px;
}

.small{
  font-size: 20px;
}



