.title{
  
  font-size: 60px;
  line-height: 1.1em;
  display: inline-block; 
  margin: 0;
  
}

.subtitle{
  margin: 0;
  
}

.author{
  
  font-size: 60px;
  line-height: 1.1em;
  display: inline-block; 
  margin: 0;
  
}